.main {
	display: flex;
	height: 100%;
}

.left {
	position: fixed;
	height: 100%;
	/* min-height: 100vh; */
	width: 28.8rem;
}

.left_empty_not_work {
	width: 28.8rem;
	height: 100%;
}

.left_empty_first_render {
	width: 28.8rem;
	height: 100%;
}

.left_empty {
	width: 28.8rem;
	animation: openEffect 0.5s;
	transition: all ease-in 0.5s;
}

@keyframes openEffect {
	0% {
		width: 4.32rem;
	}
	to {
		width: 28.8rem;
	}
}

.left_empty_closed {
	width: 4.32rem;
	animation: closeEffect 0.5s;
	transition: all ease-in 0.5s;
}

@keyframes closeEffect {
	0% {
		width: 28.8rem;
	}
	to {
		width: 4.32rem;
	}
}

.content_box {
	flex: 1;
	width: 115.2rem;
}
