@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translate3d(0, -30%, 0);
	}
	to {
		opacity: 1;
		transform: translateZ(0);
	}
}

.navbar_left {
	background-color: #f4f4f4;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.logo_sample {
	text-align: center;
	width: 19.4rem;
	height: 12.6rem;
	margin-top: 2rem;
	margin-bottom: 2.2rem;
}
.logo {
	height: 100%;
}
.loggedin_banner {
	position: relative;
	top: 0.6rem;
	font-size: 1.1rem;
}
.navbar_container {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 19.4rem;
	background-color: #c4c4c4;
	padding-left: 2rem;
	padding-right: 2.2rem;
	padding-top: 3.2rem;
	padding-bottom: 3.2rem;
	top: 24rem;
}

/* c1 container의 1번째라는 말 */

.c1 {
	margin-bottom: 2.4rem;
}

.c2 {
	display: flex;
	flex-direction: column;
	animation: fadeInDown 1s;
	margin-top: 0.8rem;
}

/* s1 span의 1번째라는 말  */
.s1 {
	font-size: 1.8rem;
	margin-bottom: 1rem;
	/* margin-left: 1rem; */
}
.s2 {
	font-size: 1.3rem;
	margin-left: 1rem;
	margin-top: 0.5rem;
	line-height: 146%;
}

.s1:hover,
.s2:hover {
	cursor: pointer;
}

.doorknob_handle {
	position: absolute;
	right: 0;
	bottom: 15rem;
	width: 6rem;
}
.doorknob_handle:hover {
	cursor: pointer;
}

.open_door {
	position: absolute;
	right: 0;
	bottom: 15rem;
	height: 8rem;
}
.open_door:hover {
	cursor: pointer;
}

.b1 {
	/* margin-bottom: 1.6rem; */
}
.f1 {
	font-size: 1.3rem;
	margin-bottom: 1rem;
	line-height: 2.4rem;
	background-color: transparent;
}
.f1:hover {
	cursor: pointer;
	transform: scale(1.02);
}
.f2 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	line-height: 2.4rem;
	background-color: transparent;
}
.f2:hover {
	cursor: pointer;
	transform: scale(1.02);
}

.go_back_div {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 19.4rem;
	background-color: transparent;
	padding-left: 1.6rem;
	padding-right: 2.2rem;
	padding-top: 2.2rem;
	padding-bottom: 2.2rem;
	top: 64rem;
}
