.image_container {
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	width: 100%;
	max-width: 31rem;
	max-height: 20rem;
	flex: 1 1 30%;
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	margin-bottom: 2rem;
	border: 1px solid rgb(199, 199, 199, 0.5);
	position: relative;
}
.img_now {
	height: 90%;
	margin: auto;
}

.delete_button_container {
	position: absolute;
	left: 28.4rem;
	top: 0.2rem;
}
