.container {
	padding: 4rem;
	padding-top: 5rem;
}

.title {
	font-size: 3rem;
	font-weight: 700;
}

.bio_note {
	font-size: 2rem;
	letter-spacing: 0.1rem;
	word-spacing: 0.2rem;
	line-height: 4rem;
}

.title_container {
	height: 6rem;
}
