.exhibition_info_container {
	display: flex;
}

.exhibition_metadata_container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.exhibition_poster_container {
	width: 50%;
}

.exhibition_poster_img {
	display: block;
	margin: auto;
	width: 90%;
}
