.container {
	display: flex;
	flex-direction: column;
	padding: 4rem;
	padding-top: 5rem;
}

.title {
	font-size: 3rem;
}

.bio {
	margin-top: 3rem;
	letter-spacing: 0.1rem;
	word-spacing: 0.2rem;
	line-height: 4rem;
}

.name_container {
	margin: 1rem;
	margin-bottom: 1.8rem;
	display: flex;
	flex-direction: column;
}

.profile {
	display: block;
	font-size: 2.6rem;
	margin-bottom: 0.5rem;
}

.bio_note {
	margin-top: 3rem;
	font-size: 1.4rem;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 39px;
}

.dividers {
	border-top: 1px solid lightgray;
	display: flex;
}

.p1 {
	display: block;
	flex: 1;
	font-size: 1.6rem;
	text-align: center;
}

.p2 {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.6rem;
}

.contents {
	flex: 3;
}
