.bio_note_container {
	display: flex;
	flex-direction: column;
	padding: 4rem;
	padding-top: 5rem;
}

.bio_title {
	font-size: 3rem;
}

.bio {
	margin-top: 3rem;
	letter-spacing: 0.1rem;
	word-spacing: 0.2rem;
	line-height: 4rem;
}

.name_container {
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

.h2 {
	display: block;
	font-size: 1.1rem;
	margin-bottom: 0.2rem;
}

.bio_note {
	margin-top: 3rem;
	font-size: 1.4rem;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 39px;
}

.containers {
	border-top: 1px solid lightgray;
	display: flex;
}

.container_title {
	display: block;
	flex: 1;
}

.contents {
	flex: 3.5;
}
