.container {
	width: 100%;
	min-height: 1100px;
	position: relative;
}

.title_container {
	height: 6rem;
}

.title {
	font-size: 3rem;
	font-weight: 700;
}

.container2 {
	padding: 4rem;
	padding-top: 5rem;
}

.logout {
	position: absolute;
	top: 5.6rem;
	right: 9rem;
	font-size: 1.8rem;
	width: 10rem;
	height: 3.4rem;
	border: 1px solid rgb(199, 199, 199, 0.5);
	border-radius: 0.6rem;
}

.logout:hover {
	border: 2px solid #c7c7c7;
}
