.bio_note_container {
	padding: 4rem;
	padding-top: 5rem;
}

.bio_title {
	font-size: 1.9rem;
}

.bio_note {
	margin-top: 3rem;
	font-size: 1.4rem;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 39px;
}
