.not_found_section {
	padding-top: 2rem;
	padding-left: 3rem;
	display: flex;
	flex-direction: column;
}

.h1 {
	font-size: 3.2rem;
}
.button_container {
	width: 40rem;
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button {
	background-color: transparent;
	font-size: 2rem;
	width: 20rem;
	height: 4rem;
}
.button:hover {
	transform: scale(1.04);
}
