.navbar {
	width: 100%;
	height: 72rem;
	position: relative;
}
.navbar_top {
	position: absolute;
	padding: 2.4rem;
	padding-left: 6rem;
	padding-right: 6rem;
	display: flex;
	align-items: center;
	top: 0;
	width: 100%;
	height: 9rem;
	background-color: rgb(0, 0, 0, 0.2);
	opacity: 1;

	transition-duration: 1s;
	transition-property: height opacity;
}

.navbar_bottom {
	position: absolute;
	padding: 2.4rem;
	padding-left: 6rem;
	padding-right: 6rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	bottom: 0;
	width: 100%;
	height: 9rem;
	background-color: rgb(0, 0, 0, 0.2);
	opacity: 1;

	transition-duration: 1s;
	transition-property: height opacity;
}
.navbar_top_off {
	height: 3.6%;
	background-color: rgb(0, 0, 0, 0.2);
	opacity: 0;
}
.navbar_bottom_off {
	height: 3.6%;
	background-color: rgb(0, 0, 0, 0.2);
	opacity: 0;
}

/* 버튼 css */
.button_top {
	font-size: 3.6rem;
	font-weight: 500;
	color: white;
	background-color: transparent;
}

.button_bottom {
	font-size: 2.8rem;
	padding: 1rem;
	padding-left: 1.8rem;
	padding-right: 1.8rem;
	color: white;
	background-color: rgb(199, 199, 199, 0.5);
	border-radius: 2.4rem;
	border: 0.4rem solid #063842;
	transition: border 0.9s;
}

.button_bottom:hover {
	border: 0.4rem solid rgb(247, 5, 5);
}

/* 네비게이션 css */

.navigator_container {
	width: 26rem;
	position: absolute;
	left: calc(50% - 13rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigator_button {
	height: 2.7rem;
	background-color: transparent;
}

.arrow_left {
	height: 100%;
	transition: transform 0.7s ease-out;
	transform: translateX(0%);
}

.arrow_left:hover {
	transition: transform 0.5s ease-out;
	transform: translateX(-15%);
}

.arrow_right {
	height: 100%;
	transition: transform 0.7s ease-out;
	transform: translateX(0%);
}
.arrow_right:hover {
	transition: transform 0.5s ease-out;
	transform: translateX(15%);
}

.page_indicator_div {
	position: relative;
	font-size: 3rem;
	line-height: 2rem;
}
.page_now {
	position: relative;
	bottom: 0.15rem;
}
