.work_disp_cont_2 {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 92rem;
	height: 64rem;
	/* background-color: #ececec; */
}

.work {
	height: 80%;
	box-shadow: 0.7rem 0.6rem 0.6rem 0.35rem rgba(0, 0, 0, 0.3);
}

.work:hover {
	cursor: pointer;
}
