.container {
	width: 100%;
	min-height: 1100px;
	position: relative;
}

.background_img {
	/* height: 100%; */
	/* background-image: url('../../../../../asset/img/artist_img/old_img/cho_yong_nam10.jpg');
	background-repeat: no-repeat; */
	width: 100%;
	/* overflow: hidden; */
	position: sticky;
	top: 0rem;
	z-index: 1;
	opacity: 0.3;
}
.img {
	width: 100%;
}

.yes {
	position: relative;
	top: -90rem;
	z-index: 10;
}
.no {
}

.container2 {
	padding: 4rem;
	padding-top: 5rem;
}

.title_container {
	height: 6rem;
}

.title {
	font-size: 3rem;
	font-weight: 700;
}

.works_button_container {
	display: flex;
	justify-content: space-between;
	margin: 2rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.works_sort {
	display: flex;
	justify-content: space-between;
	width: 46rem;
}

.works_buttons {
	position: relative;
	font-size: 1.8rem;
	background-color: transparent;
	font-weight: 500;
	height: 3.8rem;
}

.works_buttons_onclick::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 45%;
	height: 0.4rem;
	background-color: #c195f3;
	transition: all 0.5s;
	animation: middleToBothSidesAfter 0.5s;
}

.works_buttons_onclick::before {
	content: '';
	position: absolute;
	right: 50%;
	bottom: 0;
	animation: middleToBothSidesBefore 0.5s;
	width: 45%;
	height: 0.4rem;
	background-color: #c195f3;
	transition: all 0.5s;
}
@keyframes middleToBothSidesAfter {
	0% {
		width: 0;
	}
	to {
		width: 45%;
	}
}
@keyframes middleToBothSidesBefore {
	0% {
		width: 0;
	}
	to {
		width: 45%;
	}
}
.fullscreen_button {
	font-size: 1.8rem;
	background-color: transparent;
	font-weight: 500;
	height: 3.8rem;
}

.works {
	margin-top: 5rem;
}
