.container {
	width: 100%;
	min-height: 1100px;
	position: relative;
}

.background_img {
	width: 115.2rem;
	height: 100%;
	background-image: url('../../../../../asset/img/artist_img/old_img/cho_yong_nam10.jpg');
	background-repeat: no-repeat;
	overflow: hidden;
	position: fixed;
	opacity: 0.3;
	z-index: -1;
}

.container2 {
	padding: 4rem;
	padding-top: 5rem;
}

.title {
	font-size: 3rem;
	font-weight: 700;
}

.works_button_container {
	display: flex;
	justify-content: space-between;
	margin: 2rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.works_sort {
	display: flex;
	justify-content: space-between;
	width: 46rem;
}

.works_buttons {
	font-size: 1.8rem;
	background-color: transparent;
	font-weight: 500;
	height: 3.8rem;
}

.works_buttons_onClick {
	border-bottom: 2px solid blue;
}

.fullscreen_button {
	font-size: 1.8rem;
	background-color: transparent;
	font-weight: 500;
	height: 3.8rem;
}

.works {
	margin-top: 5rem;
}
