.navbar_top_container {
	height: 100%;
	display: flex;
	justify-content: center;
	background-color: southSeaGreen;
	height: 16rem;
}

.button_container {
	/* width: 100%; */
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}

.top_button {
	margin-right: 3rem;
	margin-left: 3rem;
	background-color: transparent;
	height: 3.2rem;
	font-size: 2.3rem;
	color: white;
}
