.container3 {
	padding: 3rem;
	padding-left: 3.4rem;
	padding-top: 1rem;
	max-height: 64rem;
	overflow-y: auto;
	/* border: 1px solid black; */
}

.work_bundle {
	width: 90rem;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	padding-top: 2rem;
}

.year {
	font-size: 2.4rem;
}
