.biography {
	display: flex;
	height: 100%;
}

.bio_words_container {
	width: 622rem;
	height: 100%;
	/* padding: 4rem;
	padding-top: 5rem; */
	/* border: 1px solid black; */
}

.bio_picture_container {
	width: 530rem;
	height: 100%;
}
