@value deepGreen, southSeaGreen from '../../../../common/colors.css';

.content_box {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.navbar_top {
	background-color: southSeaGreen;
}
.navbar_containers {
	height: 100%;
}
