.biography {
	display: flex;
	height: 100%;
}

.bio_words_container {
	width: 54%;
	height: 100%;
	/* border: 1px solid black; */
}

.bio_picture_container {
	width: 46%;
	height: 100%;
	/* border: 1px solid black; */
}
