.work_fix_section {
	width: 100%;
	margin-top: 5rem;
	/* border: 1px solid black; */
}

.title {
	font-size: 2.6rem;
	padding-left: 4rem;
}

.works_container {
	padding: 3rem;
}

/* 버튼들 */
.works_button_container {
	display: flex;
	justify-content: space-between;
	margin: 2rem;
	/* padding-left: rem; */
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.works_sort {
	display: flex;
	justify-content: space-between;
	width: 46rem;
}

.works_buttons {
	position: relative;
	font-size: 1.8rem;
	background-color: transparent;
	font-weight: 500;
	height: 3.8rem;
}
.works_buttons_onclick::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 45%;
	height: 0.4rem;
	background-color: #c195f3;
	transition: all 0.5s;
	animation: middleToBothSidesAfter 0.5s;
}

.works_buttons_onclick::before {
	content: '';
	position: absolute;
	right: 50%;
	bottom: 0;
	animation: middleToBothSidesBefore 0.5s;
	width: 45%;
	height: 0.4rem;
	background-color: #c195f3;
	transition: all 0.5s;
}
@keyframes middleToBothSidesAfter {
	0% {
		width: 0;
	}
	to {
		width: 45%;
	}
}
@keyframes middleToBothSidesBefore {
	0% {
		width: 0;
	}
	to {
		width: 45%;
	}
}
.to_next {
	margin-top: 6rem;
	margin-left: 4rem;
	width: 11rem;
	height: 5.4rem;
	background-color: #a877e8;
	border-radius: 1rem;
	font-size: 2rem;
	color: white;
}
