.navbar_left {
	background-color: #f4f4f4;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.navbar_shrink {
	width: 10%;
	height: 100%;
	background-color: #f4f4f4;
	position: relative;
}

.doorknob_handle {
	position: absolute;
	right: 0;
	bottom: 15rem;
	width: 6rem;
}
.doorknob_handle:hover {
	cursor: pointer;
}

.open_door {
	position: absolute;
	right: 0;
	bottom: 15rem;
	height: 8rem;
}
.open_door:hover {
	cursor: pointer;
}
