@value deepGreen from './common/colors.css';

* {
	box-sizing: border-box;
}

.myApp {
	display: flex;
	height: 100%;
}

.left {
	position: fixed;
	height: 100%;
	/* min-height: 100vh; */
	width: 20%;
}

.left_empty {
	width: 20%;
}

.content_box {
	width: 80%;
}
