@value deepGreen from './common/colors.css';

* {
	box-sizing: border-box;
}

.myApp {
	display: flex;
	height: 100%;
}

.left {
	height: 100%;
	/* min-height: 100vh; */
	flex: 1;
	border: 1px solid black;
}

.content_box {
	flex: 4;
	border: 1px solid black;
}
