@value deepGreen from './common/colors.css';

* {
	box-sizing: border-box;
}

.myApp {
	/* display: flex; */
	height: 100%;
	/* width: 2300px; */
}

button {
	outline: 0;
	cursor: pointer;
	border: 0;
}
