/* 참고 
기본틀은 이거임 

<article className={styles.container}>
    <div className={styles.container2}>
    <div className={styles.title_container}>
  <span className={styles.title}>작가노트</span>
  </div>
    여기에 내용물이 들어감 
    </div>
</article> */
/* 모든 middle component는 이런식으로 되어있음  */

.container {
	width: 100%;
	min-height: 1100px;
	position: relative;
}

.title_container {
	height: 6rem;
}

.title {
	font-size: 3rem;
	font-weight: 700;
}

.container2 {
	padding: 4rem;
	padding-top: 5rem;
}

.year {
	font-size: 2.4rem;
}

:root {
	--animation-duration: 300ms;
}

.private_s1 {
}

.private_s2 {
}

.private_input {
}
