.container {
	width: 100%;
	min-height: 1100px;
	position: relative;
}

.title {
	font-size: 3rem;
	font-weight: 700;
}

.container2 {
	padding: 4rem;
	padding-top: 5rem;
}

.year {
	font-size: 2.4rem;
}
