@value deepGreen, southSeaGreen from '../../common/colors.css';

.content_box {
	display: flex;
	flex-direction: column;
}

.navbar_top {
	background-color: southSeaGreen;
	height: 16vh;
}
.section {
}
