.container {
	width: 100%;
	min-height: 1100px;
	position: relative;
}

.title {
	font-size: 3rem;
	font-weight: 700;
}

.container2 {
	padding: 4rem;
	padding-top: 5rem;
}
.title_container {
	height: 6rem;
}

.year {
	font-size: 2.4rem;
}

.background_img {
	width: 115.2rem;
	height: 100%;
	overflow: hidden;
	position: fixed;
	opacity: 0.1;
	z-index: -1;
}
